name: Go

on:
  push:
    branches: [ "main", "constantine" ]
  pull_request:
    branches: [ "main", "constantine" ]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
      GOWORK: off
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
